.container {
    margin: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #f9ffaa;
  }
  
  .text {
    text-align: start;
    color: #661414;
  }
  
  .title {
    margin-top: 20px;
  }
  
  .output {
    margin-top: 20px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    /* If you're not using a container, you can simply apply the margin property */
    /* margin: 0 auto; */
  }
  .button-container {
    text-align: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h1 {
    text-align: center;
    color: #074aaf;
  }
  
  h3 {
    color: #860505;
  }
  