.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  .smallcontainer {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #4d0f0f;
    font-weight: bold;
  }
  
  h2 {
    font-size: 20px;
    color: #851400;
    font-weight: bold;
  }
  
  h3 {
    font-size: 18px;
    color: #790000;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    color: #053d79;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .output {
    margin-top: 30px;
  }
  
  .output h1 {
    font-size: 24px;
    color: #059900;
    font-weight: bold;
    text-align: center;
  }
  
  .output p {
    text-align: center;
    font-size: 18px;
    color: #580000;
    font-weight: bold;
  }
  
  button {
    padding: 10px 20px;
    background-color: #002752;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center the button */
    display: block; /* Ensure the button takes up the full width */
    margin: 0 auto; /* Center horizontally */
    font-weight: bold;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .smallcontainer h1{
    text-align: center;
  }
  