.container {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddeea1; /* light grey */
  }
  
  h1, h3, h4 {
    margin-top: 20px;
    color: #610d0d; /* dark grey */
  }
  
 
  
  li {
    margin-bottom: 10px;
    color: #051c5e; /* grey */
  }
  
  img {
    max-width: 100%;
    margin-top: 20px;
  }
  